<div>
    <h2 id="page-heading">
        <span>Orgao Governos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-orgao-governo" [routerLink]="['/orgao-governo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create a new Orgao Governo
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="orgaoGovernos?.length === 0">
        <span>No orgaoGovernos found</span>
    </div>
    <div class="table-responsive" *ngIf="orgaoGovernos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Descricao</span></th>
            <th scope="col" ><span>Pessoa Contato</span></th>
            <th scope="col" ><span>Telefone</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orgaoGoverno of orgaoGovernos ;trackBy: trackId">
                <td><a [routerLink]="['/orgao-governo', orgaoGoverno.id, 'view' ]">{{orgaoGoverno.id}}</a></td>
                <td>{{orgaoGoverno.descricao}}</td>
                <td>{{orgaoGoverno.pessoaContato}}</td>
                <td>{{orgaoGoverno.telefone}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/orgao-governo', orgaoGoverno.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/orgao-governo', orgaoGoverno.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/orgao-governo', { outlets: { popup: orgaoGoverno.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
