<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-mina-extracao-heading">Create or edit a Mina Extracao</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tamanho">Tamanho</label>
                    <input type="text" class="form-control" name="tamanho" id="field_tamanho"
                           formControlName="tamanho"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_localidade">Localidade</label>
                    <select class="form-control" id="field_localidade" name="localidade" formControlName="localidade">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="localidadeOption.id === editForm.get('localidade').value?.id ? editForm.get('localidade').value : localidadeOption" *ngFor="let localidadeOption of localidades; trackBy: trackLocalidadeById">{{localidadeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
