<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nivelSituacao">
            <h2><span>Nivel Situacao</span> {{nivelSituacao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Descricao</span></dt>
                <dd>
                    <span>{{nivelSituacao.descricao}}</span>
                </dd>
                <dt><span>Nivel Seguranca</span></dt>
                <dd>
                    <div *ngIf="nivelSituacao.nivelSeguranca">
                        <a [routerLink]="['/nivel-seguranca', nivelSituacao.nivelSeguranca?.id, 'view']">{{nivelSituacao.nivelSeguranca?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nivel-situacao', nivelSituacao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
